{##}
{#{% extends 'admin/adminindex.html' %}#}
{#{% block body %}#}
{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="/admin_add_notification_post">#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td>NOTIFICATION</td>#}
{#      <td><input type="text" name="textfield" /></td>#}
{#    </tr><tr>#}
{#      <td>DETAILS</td>#}
{#      <td><input type="text" name="DETAILS" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td colspan="2"><input type="submit" name="ADD" value="ADD" /></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{#</html>#}
{##}
{#{% endblock %}#}


{% extends 'admin/adminindex.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Notification</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <form id="form1" name="form1" method="post" action="/admin_add_notification_post">
        {% csrf_token %}
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h5>Add Notification</h5>
            </div>
            <div class="card-body">
                <div class="mb-3 row">
                    <label for="notification" class="col-sm-3 col-form-label">Notification</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="notification" name="textfield" placeholder="Enter notification title" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="details" class="col-sm-3 col-form-label">Details</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="details" name="DETAILS" placeholder="Enter notification details" required>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-success">Add Notification</button>
            </div>
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{% endblock %}
