{##}
{#{% extends 'admin/adminindex.html' %}#}
{#{% block body %}#}
{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="/admin_complaint_reply_send_post">#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td>REPLAY</td>#}
{#      <td><input type="text" name="textfield" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td colspan="2"><input type="submit" name="SEND" value="Submit" /></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{#</html>#}
{#{% endblock %}#}


{% extends 'admin/adminindex.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint Reply</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>

<body>
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5>Send Complaint Reply</h5>
        </div>
        <div class="card-body">
            <form id="replyForm" name="replyForm" method="post" action="/admin_complaint_reply_send_post">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="replyText" class="form-label">Reply</label>
                    <input type="text" class="form-control" id="replyText" name="replyText" placeholder="Enter your reply here" required>
                </div>

                <div class="text-end">
                    <button type="submit" class="btn btn-success">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{% endblock %}
