{##}
{#{% extends 'admin/adminindex.html' %}#}
{#{% block body %}#}
{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"#}
{#        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>#}
{#    <title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="">#}
{#    <table width="915" border="1">#}
{#        <tr>#}
{#            <th colspan="7" scope="col">NAME#}
{#                <label>#}
{#                    <input type="text" name="textfield"/>#}
{#                    <input type="submit" name="Submit" value="SEARCH"/>#}
{#                </label></th>#}
{#        </tr>#}
{#        <tr>#}
{#            <th width="99" scope="col">NAME</th>#}
{#            <th width="86" scope="col">IMAGE</th>#}
{#            <th width="107" scope="col">CAMP DETAIL</th>#}
{#            <th width="118" scope="col">PHONE NUMBER</th>#}
{#            <th width="118" scope="col">DOB</th>#}
{#            <th width="112" scope="col">EMAIL</th>#}
{#            <th width="112" scope="col">ADDRESS</th>#}
{#            <th width="112" scope="col">GENDER</th>#}
{##}
{#        </tr>#}
{#        {% for i in val %}#}
{#            <tr>#}
{#                <td>{{ i.name }}</td>#}
{#                <td><img src="{{ i.image.url }}" style="height: 50px;width: 50px" alt=""/>&nbsp;</td>#}
{#                <td>&nbsp;{{ i.CAMP.name }}</td>#}
{#                <td>{{ i.phone_number }}</td>#}
{#                <td>{{ i.dob }}</td>#}
{#                <td>{{ i.email }}</td>#}
{#                <td>{{ i.address }}</td>#}
{#                <td>{{ i.gender }}</td>#}
{#                <td><p><a href="/admin_edit_coordinator/{{ i.id }}">Edit</a></p>#}
{#                    <p><a href="/admin_delete_coordinator/{{ i.LOGIN.id }}">Delete</a></p></td>#}
{#            </tr>#}
{#        {% endfor %}#}
{##}
{#        <tr>#}
{#            <td colspan="7"><label>#}
{#                <div align="center"><a href="admin_add_coordinator">ADD </a></div>#}
{#            </label></td>#}
{#        </tr>#}
{#    </table>#}
{#</form>#}
{#</body>#}
{#</html>#}
{##}
{#{% endblock %}#}


{% extends 'admin/adminindex.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinator Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>

<body>
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-info text-white">
            <h5>Coordinator Management</h5>
        </div>
        <div class="card-body">
{#            <form id="form1" name="form1" method="post" action="" class="mb-4">#}
{#                <div class="input-group">#}
{#                    <input type="text" name="textfield" class="form-control" placeholder="Search by Name" />#}
{#                    <button type="submit" name="Submit" class="btn btn-primary">Search</button>#}
{#                </div>#}
{#            </form>#}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Camp Detail</th>
                        <th>Phone Number</th>
                        <th>DOB</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Gender</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in val %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>
                            <img src="{{ i.image.url }}" style="height: 50px; width: 50px;" alt=""/>
                        </td>
                        <td>{{ i.CAMP.name }}</td>
                        <td>{{ i.phone_number }}</td>
                        <td>{{ i.dob }}</td>
                        <td>{{ i.email }}</td>
                        <td>{{ i.address }}</td>
                        <td>{{ i.gender }}</td>
                        <td>
                            <a href="/admin_edit_coordinator/{{ i.id }}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="/admin_delete_coordinator/{{ i.LOGIN.id }}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                <a href="/admin_add_coordinator" class="btn btn-success">Add Coordinator</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>

{% endblock %}
