{##}
{#{% extends 'Coordinator/cindex.html' %}#}
{#{% block body %}#}
{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="/coordinator_edit_stock_post">#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td>TYPE</td>#}
{#      <td>#}
{#          <input type="hidden" name="id" value="{{ val.id }}"/>#}
{#          <input type="text" name="textfield" value="{{ val.type }}"/>#}
{#      </td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>NAME</td>#}
{#      <td><input type="text" name="textfield2"value="{{ val.name }}" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>DETAILS</td>#}
{#      <td><input type="text" name="textfield3" value="{{ val.details }}"/></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>DATE</td>#}
{#      <td><input type="date" name="textfield4"value="{{ val.date|date:'Y-m-d' }}" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>STOCK</td>#}
{#      <td><input type="text" name="textfield5" value="{{ val.stock }}"/></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>QUANTITY</td>#}
{#      <td><input type="text" name="textfield6" value="{{ val.quantity }}"/></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>PLACE</td>#}
{#      <td><input type="text" name="textfield7" value="{{ val.place }}"/></td>#}
{#    </tr>#}
{#      <tr>#}
{#      <td><input type="submit" name="textfield7"  value="save"/></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{#</html>#}
{#{% endblock %}#}


{% extends 'Coordinator/cindex.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Stock</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container mt-5">
  <h2 class="text-center mb-4">Edit Stock</h2>

  <form id="form1" name="form1" method="post" action="/coordinator_edit_stock_post">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ val.id }}"/>

    <div class="form-group row">
      <label for="type" class="col-sm-2 col-form-label">Type</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="type" name="textfield" value="{{ val.type }}" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="textfield2" value="{{ val.name }}" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="details" class="col-sm-2 col-form-label">Details</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="details" name="textfield3" value="{{ val.details }}" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="date" class="col-sm-2 col-form-label">Date</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="date" name="textfield4" value="{{ val.date|date:'Y-m-d' }}" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="stock" class="col-sm-2 col-form-label">Stock</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="stock" name="textfield5" value="{{ val.stock }}" min="0" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="quantity" name="textfield6" value="{{ val.quantity }}" min="1" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="place" class="col-sm-2 col-form-label">Place</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="place" name="textfield7" value="{{ val.place }}" required>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12 text-center">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}
