<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <td><a href="/coordinator_change_password">CHANGE PASSWORD</a></td>
  </tr>
  <tr>
    <td><a href="/cordinator_manage_volunteer">MANAGE VOLUNTEER</a></td>
  </tr>
  <tr>
    <td><a href="/coordinator_stock_manage">STOCK MANAGE</a></td>
  </tr>
  <tr>
    <td><a href="#">MEDICAL SUPPORT</a></td>
  </tr>
  <tr>
    <td><a href="#">CHECK NEEDS</a></td>
  </tr>
  <tr>
    <td><a href="#">GUIDELINES</a></td>
  </tr>
</table>
</body>
</html>
