
{% extends 'Coordinator/cindex.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guidelines List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Guidelines List</h2>

    <!-- Existing Guidelines Table -->
    <div class="card">
        <div class="card-header bg-secondary text-white">
            <h4>Existing Guidelines</h4>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Guideline</th>
                        <th>Details</th>
                        <th>Date</th>
{#                        <th>Actions</th>#}
                    </tr>
                </thead>
                <tbody>
                    {% for guideline in data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{{ guideline.guidelines.url }}" target="_blank">View Guideline</a></td>
                        <td>{{ guideline.details }}</td>
                        <td>{{ guideline.date }}</td>
                        <td><a href="/delete_guidline/{{ guideline.id }}" class="btn btn-danger">Delete</a> </td>

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">No guidelines found.</td>
                    </tr>
                    {% endfor %}
                <div class="text-center">
                    <a href="/add_guideline" class="btn btn-info">Add New</a>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}
